<font size="5">
 <div class="alert alert-block alert-info"> <b>Módulo introdutório de Python - Aula 1<b>
     </div>
</font> 
 
 \vspace{.1in}
     
    
  <font size="4"> Mestrado em Ciência de Dados </font>
  \vspace{.03in}
  
  
  <font size="3"> **Diana Aldea Mendes** </font>
     \vspace{.02in}
  <font size="3">ISCTE-IUL, 5-9 de setembro de 2023 </font>
  \vspace{.03in}
  
   
  <font size="3"> *diana.mendes@iscte-iul.pt* </font> 
  \vspace{.03in}

<font size="4">
 <div class="alert alert-success">
    <b> Bibliografia</b> 
 </div>
</font> 

1. Paul Deitel, Harvey Deitel, (2020), Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud, Pearson Education, Inc.
2. Al Sweigart, (2020), Automate the boring stuff with Python: Practical Programming for Beginners (2nd Edition), No Starch Press, Inc.
3. Tony Gaddis, (2022), Starting Out with Python, (5th Ed.), Pearson.

 <font size="5"> 
    <div class="alert alert-warning" role="alert"> Tópicos do dia </div> </font> 
  \vspace{.03in}
  
 - Como Instalar Python?
 - Qual é o melhor ambiente de trabalho (IDE /code editor)?
     - VS Code, Jupyter Notebook, PyCharm, Google Colab
 - Introdução ao Python 
     - Variáveis
     - Operações
  
  ###############################################################################

# Introdução

- **Python** é uma linguagem de programção simples e versátil (*open-source, high-level, multi-paradigm*)
- Cada vez mais utilizada no ensino, investigação, banco, saúde, indústria, etc.
- **Anaconda** é o distribuídor mais popular do Python. 
- A instalação via **Anaconda** contém os seguintes: o *Python, Spyder, Orange, Qt Console, Anaconda Prompt, Jupyter Notebook, Visual Studio Code*, etc
- O terminal de Anacando permite correr o Python diretamente.
- Também permite instalar novas bibliotecas (packages) que não estão disponíveis em Anaconda por default. 
- Para instalar novas bibliotecas, usa-se a função `pip` (Python package manager)


- O **IPython** (**Jupyter Notebook**) é um ambiente interactivo para a utilização da linguagem Python como ferramenta de cálculo, visualização, e elaboração de programas (pequenos).
- Para abrir o Jupyter Notebook
    - Abrir Anaconda Navigator
    - Launch Jupyter Notebook
- Os ficheiros (em Jupyter) tem a extensão `.ipynb` e chamam-se *Notebooks*
- No Jupyter Notebook, a interacção faz-se através de um interface muito simples suportado por um **browser**, que por sua vez comunica com um **kernel** que disponibiliza um interpretador de Python. 

- No contexto da programação de maior escala usamos o ambiente **Spyder** (IDE - Integrated Development Environment). 
- Os ficheiros (em Spyder) chamam-se *scripts* e tem a extensão `.py`

**Módulos/Bibliotecas/*Libraries/Packages* de base:**

* numpy/scipy (contas básicas, vetores, arrays)
* statmodels (estatística)
* pandas (Data frames, manipulação de dados)
* prophet (forecasting - previsão de séries temporais)
* scikit-learn (ML - Machine Learning, Regressão, clustering - nível básico e intermédio)
* matplotlib (representações gráficas)
* seaborn (representações gráficas)
* keras/tensorflow (Machine Learning, Deep Learning, Text mining, Reinforcement learning - nível avançado)
* PyTorch (Machine Learning)
* Beautiful Soup (web scraping)  

- Os módulos são bibliotecas de código. Podem ser usados recorrendo ao comando ``import``
- Por exemplo, inserindo ``import numpy``, o Python recebe a informação que a biblioteca `numpy` vai ser usada.



- Abreviação padrão usada para bibliotecas (Canonical names)

- Use a palavra chave `as` para importar a biblioteca com a sua abreviação padrão
- Para importar uma biblioteca, deve escrever o seguinte ``import`` _nome_biblioteca_ ``as`` _abreviação_

| Module              | Canonical Name |
| :------------------ | :------------- |
| numpy               | np             |
| pandas              | pd             |
| scipy               | sp             |
| scipy.stats         | stats          |
| matplotlib.pyplot   | plt            |
| statsmodels.api     | sm             |
| statsmodels.tsa.api | tsa            |

## Conceitos básicos

- Cada retângulo/caixa onde escrevemos o nosso input (que podem ser linhas de código ou texto) no Jupyter Notebook chama-se **cell/célula**.

- No *Menu* se escolhemos **Markdown**, então vamos inserir na célula texto normal (em Português/Inglês) ou fórmulas matemáticas em LaTeX (*é a opção usada nesta célula*).

- No *Menu* se escolhemos **Code**, então vamos inserir na célula comandos na linguagem Python.

- Para executar/correr o conteúdo de uma célula, basta carregar no **Run**, no Menu. O output aparece na linha seguinte.

- De forma equivalente, carregando **Shift+Enter**, vamos correr a célula corrente
- O python contem milhares de **funções pré-definidas** (blocos de códigos construídos com um objetivo, que são chamados para executar o tal objetivo, pelo intermédio de um nome chave/simbólico), para simplificar e tornar mais eficiente o nosso trabalho.

- Uma das funções pré-definidas de Python mais importantes e úteis é a função **print()**. 
- Serve para mostrar no output o conteúdo da informação definida em ().
- Para pedir **ajuda/informação** acerca as funções pré-definidas (built-in functions) em Python, usar: ``help(nome_função)`` ou ``nome_função?`` 
- Por exemplo: ``help(len)`` vai fornecer informações sobre a função `` len`` (comprimento de um objeto)
- **Tab-completion**: para obter todos os atributos de um certo objeto (por exemplo o que posso fazer com uma lista?)
- Basta escrever o nome do objeto. e carregar na tecla TAB: ``nome_do_objeto.<TAB>``

### Inserir Comentários

In [4]:
# os comentários começam com '#'
# os comentários não são executáveis (não tem output) 
# isto é um comentário

In [3]:
# informações/explicações sobre os comandos Python que podem ser visualizados no output apresentam-se 
# entre aspas triplas ''' '''
''' Explicação de como aprendemos Python'''

' Explicação de como aprendemos Python'

### Inserir texto e fórmulas

#########################################################################################

Exemplo de fórmulas matemáticas, usando LaTeX (editor de texto mais usado ao nível mundial)

Agora escrevo uma equação $\LaTeX$ inline : $x = Ax+b^2$

E agora uma equação numa linha nova, centrada no meio da página: $$x = Ax + b$$

##########################################################################################

- Portanto, no mesmo ficheiro (Notebook) podemos ter texto, fórmulas, linhas de comandos, tabela, gráficos, simulações, etc, o que torna o Jupyter Notebook extremamente versátil. 
- Mais, podemos definir vários *kernels* (núcleos), um para cada linguagem de programação: Python, R, Julia, Matlab, etc...

### Versão Python

In [6]:
# vamos ver qual versão de Python está instalada no nosso computador
import sys
print ("O meu Python tem a versão", sys.version)

print(sys.copyright)

O meu Python tem a versão 3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]
Copyright (c) 2001-2023 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

#  Tipos de Dados / Estruturas de dados/ Objetos / Variáveis

- Números inteiros, reais, complexos
- Booleanos
- Sequências (strings), texto e imagens
- Vetores, Listas, Dicionários, Tuples, Conjuntos

## Números reais e operações

Temos as seguintes operações

| Operação | Descrição |
| :------: | :---------: |
| +        |Adição|
| -        |Subtração|
| *        |Multiplicação|
| /        |Divisão|
| %        |Módulo / resto|
| **       |Expoente/Potência|
| //       |Divisão inteira|

In [2]:
# consola como calculadora
# comando que representa uma operação matemática
2-3**5+20000

19759

In [7]:
type(33)

int

In [9]:
# números reais e operações aritméticas básicas
print (1 + 1)  # adição
1 * 3  # multiplicação
1/2   # divisão
2 ** 4   # potência
5 % 2  # módulo (o que sobra quando dividimos x por y, o resto)
3 // 2  # divisão inteira 
# o resultado é o maior numéro inteiro maior que o resultado
(-2 + 3) * (15 + 5)/5   # operações combinadas

2

4.0

In [ ]:
# nota-se que no output só aparece o resultado da última operação/expressão
# para visualizar cada uma das operações, temos de inserir cada operação numa célula distinta e fazer Run

In [10]:
(-2.5 + 3.12) * (15 + 5.45)/5.3

2.392264150943397

In [ ]:
# de forma equivalente podemos usar a função pré-definida print() para obter todos os outputs em simultâneo

In [11]:
# o comando "print", neste caso, afixa as operações/expressões e também os resultados das operações no output

print('1 + 1 =', 1 + 1)
print('1 * 3 =', 1 * 3)
print(1/2)
print('2**4 = ', 2**4)
print(5 % 2)
print('3 // 2=', 3 // 2)  
print('(-2 + 3) * (15 + 5)/5 =', (-2 + 3) * (15 + 5)/5)

1 + 1 = 2
1 * 3 = 3
0.5
2**4 =  16
1
3 // 2= 1
(-2 + 3) * (15 + 5)/5 = 4.0

In [12]:
# divisão
13/4

3.25

In [13]:
# divisão inteira
13//4

3

In [14]:
# resto de uma divisão
13%4

1

In [15]:
# divisão por zero
13/0

ZeroDivisionError: division by zero

In [ ]:
# Quando ocorre um erro (error or exception), o Python para a execução e gera uma mensagem de erro.
# A última linha da mensagem de erro informa acerca o tipo de erro cometido (neste caso - divisão por zero)

In [21]:
'diana' + 23

TypeError: can only concatenate str (not "int") to str

In [22]:
int(3.14)

# só transforma números

3

In [23]:
int('3.14')

# e não strings

ValueError: invalid literal for int() with base 10: '3.14'

In [25]:
tipe(3.14)

NameError: name 'tipe' is not defined

In [17]:
log(2.3)

NameError: name 'log' is not defined

In [18]:
import math

In [19]:
math.log(2.3)

0.8329091229351039

In [26]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [20]:
from math import log
log(2.3)

0.8329091229351039

## Atribuir "valores" para as variáveis

- Para poder usar uma variável nos códigos precisamos atribuir-lhe um nome
- **Variável** - é um objeto que tem um *nome* e um *valor*
- Cada variável tem um nome distinto
- A atribuição faz-se usando o operador igual ``=``
- Duas variáveis com o mesmo nome, assumem os valores da última atribuição
- Os nomes das variáveis não podem conter espaços, caracteres unicode ou palavras reservadas de Python
- Os nomes das variáveis são *case-sensitive*

### Palavras reservadas

- As *palavras reservadas* em Python (*Reserved keywords in Python*) - não podem ser utilizadas como nomes de variáveis

| _ | _ | _ |
|:---:|:---:|---:|
|False|class|finally|
|is|return|None|
|continue|for|lambda|
|try|True|def|
|from| nonlocal| while|
|and|del|global|
|not|with|as|
|elif|if|or|
|yield|assert|else|
|import|pass|break|
|except|in|raise|

In [27]:
# atribuir o valor 5 a variável a1
a1 = 5
a1

5

In [28]:
print(a1)

5

In [29]:
a?1=34

SyntaxError: invalid syntax (1993554666.py, line 1)

In [30]:
# atribuição múltipla
x, y, u , v = 2, 5, -3, 0.19
# y=5
z=x+y-u+v

In [31]:
# desta forma fica guardada na memória a variável z=x+y=7
# para visualizar o output utilizamos a função print
print(z)

10.19

In [32]:
i = 5      
i = i+1    # atribuir mais uma unidade ao último valor da variável i
i += 1     # a mesma coisa que na alinha anterior

In [33]:
print(i)

7

In [34]:
# as variáveis numéricas podem ser de tipo int (inteiros) ou float (decimais)
# por enquanto não vamos falar dos números complexos conjugados
# type() é uma função Python que nós diz que tipo de dados temos 

a1=2.786    # tipo float
print(a1)
type(a1)

2.786

float

In [35]:
a2=100      # tipo inteiro
print(a2)
type(a2)

100

int

In [36]:
# transformar numeros inteiros em float e float em inteiros usando as funções 'int' e 'float'
print(int(-2.8))
print(float(2))
print(int(12.54634555))
print(float(-123.6666666))

-2
2.0
12
-123.6666666

In [37]:
# apagar (delete) variáveis com a função Python 'del'
del a1, a2

In [38]:
a2

NameError: name 'a2' is not defined

In [39]:
pi = 3.14159265359    # decimal

In [40]:
print(pi)

3.14159265359

In [41]:
xr=round(pi,4)
xr

3.1416

In [ ]:
# atribuir um novo valor a variável pi
pi = 67
print(pi)

## Strings/Words - Sequências 

- **String** = seguência de letras / números / caracteres
- Representa-se entre aspas, ou aspas duplas

In [42]:
'my string'

'my string'

In [43]:
"I like Data Science"

'I like Data Science'

In [44]:
s = """I want Pizza"""
s

'I want Pizza'

In [45]:
# porque não aparece o output???

In [ ]:
print(s)

In [ ]:
"""I want Pizza"""

#### Operações com strings
- adição ``+``
- união ``join``
- ``replace, count, find, split``

In [46]:
# adicionar/juntar duas sequências
f="data"
g="science"
print(f + g)    # string concatenation
print(f + ' ' + g)    # string concatenation with space ' ' between words
print(" ".join([f, g, f, g]))   # juntar sequências

datascience
data science
data science data science

In [47]:
# Upper Case a string - usamos a função 'upper' para escrever o string f em maiúsculas
f.upper()

'DATA'

In [48]:
num = 1
name = 'Diana'

In [49]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 1, and my name is: Diana

In [50]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 1, and my name is: Diana

In [51]:
string="Nuno Is Learning"
string

'Nuno Is Learning'

In [52]:
string=string.replace("Nuno","Rita")
print(string)

Rita Is Learning

In [53]:
string.split()

['Rita', 'Is', 'Learning']

In [54]:
string.count('n')

2

In [56]:
string.find('I')

# Conta a posição onde se encontra o argumento da função, iniciando-se no 0

5

 ## Listas, Dicionários, Grupos, Conjuntos
 
Lists, Dictionaries, Tuples, Sets

### Lists - Listas

* listas - uma coleção de objectos de tipos arbitrários, sem comprimento fixo
* podem conter elementos heterogéneos
* são **mutáveis**
* **definem-se entre [ ]**
* os elementos são ordenados e indexados por números inteiros
* o índice (index) de uma lista começa sempre em 0 (**zero**) 
* Operações com listas
    - inverter a ordem dos elementos na lista ``reverse``
    - converter lower/uppercase para upper/lowercase ``lower, upper``
    - adicionar novos elementos a uma lista ``append``
    - mudar ou remover elementos de uma lista
    - inexing and slicing
    - ``len, sort, insert, remove, del, extend``

In [57]:
# lista só de números inteiros
[1,2,3]

[1, 2, 3]

In [58]:
# lista de elementos heterogéneos (strings, numbers and arrays) (seguências, números e vectores)
['mestrado',1,[1,2]]

['mestrado', 1, [1, 2]]

In [59]:
# definir uma lista vazia
lista_vazia =[]
lista_vazia

[]

In [60]:
# associar um nome a lista
my_list = ['a','b','c']

In [61]:
print(my_list)

['a', 'b', 'c']

In [62]:
# adicionar o elemento 'd' na lista (no final) usando a função 'append'
my_list.append('d')

In [63]:
print(my_list)

['a', 'b', 'c', 'd']

In [64]:
# acessar elemento(s) da lista usando o seu índice (index)
# neste caso vai ser escolhido o primeiro elemento da lista (que tem índice 0 -zero)
my_list[0]

'a'

In [65]:
# o segundo elemento da lista, que tem indíce 1, ou seja
my_list[1]

'b'

In [66]:
# listar a partir do elemento 1 da lista (incluíndo o elemento da posição/index 1)
my_list[1:]

['b', 'c', 'd']

In [67]:
# listar a partir do elemento 3
my_list[3:]

['d']

In [68]:
# listar todos os elementos situado antes do elemento 2 da lista (excluíndo o elemento de índice 2)
my_list[:2]

['a', 'b']

In [69]:
# repetir a lista 30 vezes e formar uma nova lista com o nome 'my_new_list'
my_new_list=my_list * 30
print(my_new_list)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [70]:
list2=[2, 100, "hello", 1.0, 'data_science']

In [71]:
print(list2)

[2, 100, 'hello', 1.0, 'data_science']

In [72]:
list2[4]

'data_science'

In [73]:
# indicar elementos da seguência começando do fim da seguência (usar -1,-2,-3...)

language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
o

In [75]:
# Slicing / troços de seguências

language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) # hon
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

##############################################################################################

- Definir os indices na palavra 'Python'

|P|y|t|h|o|n|
|:---:|:---:|:---:|:---:|:---:|:---:|
|0|1|2|3|4|5|
|-6|-5|-4|-3|-2|-1|

- Para um objeto com `n` entradas (6 letras no caso da palavra Python)
    - Indexação começa em `0` (sentido **forward**) e acaba em `(n-1)`
    - Indexação começa em `-n` (sentido **backward**) e acaba em `-1`

In [76]:
# mudar/adicionar um elemento na lista
familia=['ana','pedro','rui','nuno']
familia[2:3]=['rui','luisa']    # adicionar elemento na lista
familia

['ana', 'pedro', 'rui', 'luisa', 'nuno']

In [77]:
# mudar/adicionar um elemnto na lista
familia=['ana','pedro','rui','nuno']
familia[2:4]=['miguel','alex']    # mudar elemento na lista
familia

['ana', 'pedro', 'miguel', 'alex']

In [78]:
# remover elemento da lista usando a função 'del'
del(familia[2])
familia

['ana', 'pedro', 'alex']

In [79]:
# adicionar 2 listas
new_fam=familia + ['dog','cat']
new_fam

['ana', 'pedro', 'alex', 'dog', 'cat']

In [80]:
# juntar a lista x os elementos da lista y
x = [1,2,3,4]
y = [3,6,9,1]
x.extend(y)
x

[1, 2, 3, 4, 3, 6, 9, 1]

In [96]:
# na lista x na posição/índice 2 vai ser inserido um novo elementto - valor 10
# função 'insert'
x.insert(2,10) 

#insert(index no, item to be inserted)
x

[1, 2, 10, 10, 10, 10, 10, 10, 10, 4, 3, 6, 9, 1]

In [88]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [89]:
# remover da lista o elemento de indice 2 (NB: o index das listas inicia-se no 0)
# função 'pop'
x.pop(2) 
x

[1, 2, 10, 10, 10, 10, 10, 10, 3, 4, 3, 6, 9, 1]

In [90]:
# remover todos as entradas com valor igual a 3 da lista
x.remove(3) 
x

[1, 2, 10, 10, 10, 10, 10, 10, 4, 3, 6, 9, 1]

In [91]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [97]:
# inverter a ordem dos elementos da lista
x.reverse()
x

[1, 9, 6, 3, 4, 10, 10, 10, 10, 10, 10, 10, 2, 1]

In [98]:
# ordenar os elementos da lista (do menor ao maior, ou na ordem alfabética)
x.sort()
x

[1, 1, 2, 3, 4, 6, 9, 10, 10, 10, 10, 10, 10, 10]

In [103]:
# construir uma lista com base numa função

# para cada x no domínio range(10) calcula n^2
list1 = [n**2 for n in range(10)]

list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
# eleva ao quadrado todo o k que esteja no intervalo de 1 a 11, cujo resto da divisão seja 1
x15 = [k ** 2 for k in range (1, 11) if k % 2 == 1]
x15

[1, 9, 25, 49, 81]

In [108]:
coordinates = [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1]]  # lista de dimensão dois

print('first coordinate: {}'.format(coordinates[0]))
print('second element of first coordinate: {}'.format(coordinates[0][1]))
print('first')

first coordinate: [12.0, 13.3]
second element of first coordinate: 0.6

### Dicionários

- Os dicionários são definidos por pares de valores.
- Cada par consiste numa chave e o elemento associado (portanto os indices são as chaves), ``par=(key:value) = (chave: elemento)``. 
- São estruturas *mutáveis* (podemos alterar /modificar). 
- Os elementos não são ordenados.
- Representa-se usando ``{ }``
- Algumas funções importantes para manipular dicionários: ``clear, copy, items, keys, values``

In [109]:
# exemplo de dicionário (2 chaves e 2 valores)
d = {'key1':'entry1','key2':'entry2'}

In [110]:
print(d)

{'key1': 'entry1', 'key2': 'entry2'}

In [111]:
d['key2']

'entry2'

In [112]:
print(d.keys())

dict_keys(['key1', 'key2'])

In [114]:
# definimos um dicionário com 7 pares (key:value)
person_1 = {
    'first_name':'Ana',
    'last_name':'Silva',
    'age':25,
    'country':'portugal',
    'is_marred':True,
    'skills':['JavaScript', 'R', 'Julia', 'MongoDB', 'Python'],
    'address':{
        'street':'ISCTE',
        'zipcode':'1600'
    }
}

In [115]:
# imprime o objecto Person1
print(person_1)

{'first_name': 'Ana', 'last_name': 'Silva', 'age': 25, 'country': 'portugal', 'is_marred': True, 'skills': ['JavaScript', 'R', 'Julia', 'MongoDB', 'Python'], 'address': {'street': 'ISCTE', 'zipcode': '1600'}}

In [116]:
# o comprimento das chaves do objeto
print(len(person_1))

7

In [119]:
# isolar elementos do dicionário
print(person_1['skills']) # retorna a lista que constitui o valor da chave 'skills'
print(person_1['skills'][0])  # retorna o valor do índice 0

['JavaScript', 'R', 'Julia', 'MongoDB', 'Python']
JavaScript

In [120]:
# acrescentar elementos no dicionário
person_1['skills'].append('HTML')
print(person_1)

{'first_name': 'Ana', 'last_name': 'Silva', 'age': 25, 'country': 'portugal', 'is_marred': True, 'skills': ['JavaScript', 'R', 'Julia', 'MongoDB', 'Python', 'HTML'], 'address': {'street': 'ISCTE', 'zipcode': '1600'}}

In [121]:
# Mudar um dicionário para uma lista de itens
print(person_1.items())

dict_items([('first_name', 'Ana'), ('last_name', 'Silva'), ('age', 25), ('country', 'portugal'), ('is_marred', True), ('skills', ['JavaScript', 'R', 'Julia', 'MongoDB', 'Python', 'HTML']), ('address', {'street': 'ISCTE', 'zipcode': '1600'})])

In [122]:
# print apenas as chaves (keys)
print(person_1.keys())

dict_keys(['first_name', 'last_name', 'age', 'country', 'is_marred', 'skills', 'address'])

In [123]:
# print apenas os valores (values)
print(person_1.values())

dict_values(['Ana', 'Silva', 25, 'portugal', True, ['JavaScript', 'R', 'Julia', 'MongoDB', 'Python', 'HTML'], {'street': 'ISCTE', 'zipcode': '1600'}])

### Tuples

- Os **Tuples** (grupos/vetores) são *imutáveis*. Uma vez criados, não podem ser alterados.
- Os **Tuples** definem-se entre `( )`, não confundir com as **listas** que se definem entre `[ ]`
- Os elementos de um vetor são ordenados
- Suportam todas as operações das sequências

In [124]:
# definir o tuple com o nome t e de entradas numéros inteiros
t = (1,2,3)

In [125]:
print(t)

(1, 2, 3)

In [126]:
# ver o primeiro elemento do Tuple (tal como nas listas, o primeiro elemento tem índice zero - 0)
t[0]

1

In [127]:
# definir o vetor x
x=(2,5,7,'4ss',8)
x

(2, 5, 7, '4ss', 8)

In [128]:
# Dá erro porque os tuplos são imutáveis, não suporta este tipo de associação de valores
x[1]=10

TypeError: 'tuple' object does not support item assignment

In [130]:
# definir o vetor y
# tem como entradas 2 números inteiros e uma lista de inteiros
y=(1,2,[3,10])
y

(1, 2, [3, 10])

In [131]:
# no vetor y, no elemento de índice 2 (que é uma lista), entrada de indice 0 (da lista) vai ser substituída pelo valor 23456
y[2][0]=23456
y

(1, 2, [23456, 10])

In [132]:
# contar a frequência do valor 2 no vetor x
x = (1,2,3,4,5,6,2,10,2,11,12,2)

x.count(2)

4

In [140]:
x.index(1)

0

In [134]:
mytup = ( 'welcome', 21.223, "hello world", 70.2  )

print(mytup)

print(mytup[2]) ## mostra o terceiro valor do tuple, pois o índice começa em 0

('welcome', 21.223, 'hello world', 70.2)
hello world

In [135]:
# usar a função pré-definida 'sorted', que ordena o tuple (crescente, alfabeticamente)
age = (40,35,8,5)

s = sorted(age)

print(s)

[5, 8, 35, 40]

In [141]:
## sortar os elementos
fruit = ("orange","apple","grapes")
f = sorted(fruit)
print(f)   ## output is list

['apple', 'grapes', 'orange']

In [142]:
f1 = sorted(fruit)
print(tuple(f1))   # output is tuple

('apple', 'grapes', 'orange')

In [143]:
# definir uma lista x e transformor num vetor (tuple) y
x=[4,5,66,9]
y=tuple(x)
y

(4, 5, 66, 9)

### Sets - Conjuntos

- Os conjuntos são elementos definidos entres `{ }` (não confundir com os dicionários que são pares de valores). 
- São equivalentes ao conceito matemático de conjunto.
- Os elementos de um conjunto são todos distintos, não tem índice e não são ordenados.
- Operações possíveis para conjuntos:
    - ``add, remove, union, intersection, difference, subset, disjoint set``.

In [144]:
{1,2,3}

{1, 2, 3}

In [145]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [ ]:
# como os elementos de um conjunto são distintos (não se podem repetir) autoeliminam-se todas as repetições

In [146]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
len(fruits)

4

In [147]:
# adicionar um novo elemento ao conjunto 'fruits'
fruits.add('apple')
print(fruits)

{'banana', 'orange', 'lemon', 'mango', 'apple'}

In [148]:
# remover um elemento do conjunto
fruits.remove('banana')
print(fruits)

{'orange', 'lemon', 'mango', 'apple'}

In [149]:
# union - união de dois conjuntos
st1 = {'a1', 'a2', 'a3', 'a4'}

st2 = {'a5', 'a6', 'a7', 'a8'}

st3 = st1.union(st2)
print(st3)

{'a2', 'a7', 'a3', 'a8', 'a4', 'a6', 'a1', 'a5'}

In [151]:
# intersection - intersecção de dois conjuntos
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}   # números inteiros
set2 = {0, 2, 4, 6, 8, 10}    # números inteiros pares
result=set1.intersection(set2)   # intersecção
print(result)

{0, 2, 4, 6, 8, 10}

In [152]:
# mostra cada x que está em na string 'abracadabra' de tal forma que x não seja nem 'a', 'b' ou 'c'
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [153]:
# multiplica por 3 cadax que esteja no range somente se x for maior que 5
x={3*x for x in range(10) if x>5}
x

{18, 21, 24, 27}

### Resumo

In [154]:
List = ['Milk', 'Bread', 'Eggs', 'Eggs', True, False, {}, (), ['a', 'b', 'c']] # as entradas podem ser constituídos por qualquer tipo de dados
Tuples = ('Milk', 'Bread', 'Eggs')
Sets = {'Milk', 'Bread', 'Eggs'}
Diccionary = {'Milk':'Meio-Gordo','Bread':'Integral', 'Eggs':'Bio'} # cada entrada é composta por um par chave:valor
String = "Python for Everybody True"

##  Operadores de comparação e Booleanos


* Operadores de comparação: **<, <=, >, >=, ==, !=** (menor, menor igual, maior, maior iqual, igual, diferente)


* Operadores Booleanos : **True, False**

In [155]:
1 == 2

False

In [156]:
3.14 == 3.14

True

In [157]:
'data_science' == 'ciência_de_dados'

False

In [158]:
1 < 2

True

In [159]:
1 <= 4

True

In [160]:
1 >= 1

True

In [161]:
1 > 2

False

In [162]:
# vamos usar a função pré-definida 'len' que mede o comprimento da string
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True

False
True
True

## Operadores lógicos

- Os operadores lógicos são : **and, or, not**

In [163]:
# Retorna True se as duas operações são verdadeiras (and)

(1 > 2) and (2 < 3)

False

In [164]:
# Retorna True se pelo menos uma das relações é verdadeira (or)

(1 > 2) or (2 < 3)

True

In [165]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [166]:
# Retorna True se a operação é falsa, ou retorna False se a operação é verdadeira (negação not).

not (2 == 3)

True

## Exercícios

1. Compute 4 elevate at 12.

2. Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

3. Answer these 3 questions without typing code. Then type code to check your answer.

    (a) What is the value of the expression `4 * (6 + 5)`

    (b) What is the value of the expression `4 * 6 + 5` 

    (c) What is the value of the expression `4 + 6 * 5` 

4. What is the type of the result of the expression `3 + 1.5 + 4`?

5. Given the string 'hello' give an index command that returns 'e'. 

6. Given the string hello, give two methods of producing the letter 'o' using indexing.

7. Given the following list, `lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]`, and using indexing, isolate the word `'hello'`.

8. Using keys and indexing, grab the 'hello' from the following dictionaries: `d = {'simple_key':'hello'}`

9. What is the major difference between tuples and lists?

10. Use a set to find the unique values of the list below: `list5 = [1,2,2,33,4,4,11,22,3,3,2]`

In [167]:
# 1.

4**12

16777216

In [169]:
# 2.

2**2 * 5 %

20